<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MapSurfer.InstallPath" value="C:\Users\dtaylor\Documents\visual studio 2013\Projects\MapsDevelopmentApplication\packages\MapSurfer.NET.Core.2.4\lib\net45\"/>
    <add key="NetGraphics.InstallPath" value="C:\Users\dtaylor\Documents\Visual Studio 2013\Projects\MapsDevelopmentApplication\packages\MapSurfer.NET.UI.2.4\lib\net45\"/>
  </appSettings>
</configuration>